.Xdefaults
.ansible/
.azureexportrc
.bash_history
.cache/
.config/
.cshrc
.cvsrc
.ipython/
.kshrc
.local/
.login
.mailrc
.profile
.python_history
.ssh/
.vim/
.viminfo
.vimrc
aruba/
azure/
bluecat-gateway-ansible-module/
systems/files/duo/
config.out
inventory
pwds
qwe.py
rest-api.out
show-run.out
