# directories
# dot dirs
.ansible/
.cache/
.config/
.cshrc
.cvsrc
.ipython/
.kshrc
.local/
.ssh/
.vim/
# reg dirs
Maildir/
aruba/
azure/
bluecat-gateway-ansible-module/
systems/files/duo/
# files
# dot files
.azureexportrc
.bash_history
.Xdefaults
.login
.mailrc
.profile
.python_history
.viminfo
.vimrc
# regular files
config.out
pwds
qwe.py
rest-api.out
show-run.out
