[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
forks = 10
gathering = smart
host_key_checking = False
timeout = 30
log_path = logs/ansible.log
stdout_callback = yaml
become = True
become_method = doas
retry_files_enabled = True
retry_files_save_path = ~/.ansible/retry
deprecation_warnings = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = doas
become_user = root
become_ask_pass = False

[connection]
pipelining = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60
control_path = ~/.ansible/cp/%%C
pipelining = True
